.container {
  display: flex;
  width: 110%;
  color: #fff;
  flex-wrap: wrap;
}

.box1 {
  width: 45%;
  background-color: aqua;
}

.box2 {
  width: 20%;
  background-color: azure;
}

.box3 {
  width: 35%;
  background-color: aquamarine;
}

@media (max-width: 1000px) {
  .box2 {
    display: none;
  }

  .box1 {
    width: 55%;
  }

  .box3 {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .box1 {
    width: 100%;
  }
  .box3 {
    width: 100%;
  }
}
